<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <div id="nav-bar">
  <nav>
    <% if (user) { %>
      <a href="/recipes">All Recipes</a>
      <a href="recipes">My Recipes</a>
      <!-- <div id="username"><%= user.name %></div> -->
      <a href="/logout">Log Out: <%= user.name %></a>
    <% } else { %>
      <a href="/auth/google" class="login">Log In</a>
    <% } %>
  </nav>
  <h3 id="page-title">Cooking with Cody</h3>
  </div>
  <br><br><br><br><br><br><br>
  <div id="welcome">Welcome</div>
</body>
</html>
    