<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <div id="nav-bar">
  <nav>
    <% if (user) { %>
      <a href="/recipes">All Recipes</a>
      <a href="/recipes">My Recipes</a>
      <a href="/logout">Log Out: <%= user.name %></a>
    <% } else { %>
      <a href="/auth/google" class="login">Log In</a>
    <% } %>
  </nav>
  <h3 id="page-title"><%= title %></h3>
</body>
</html>
    