
body {
  padding: 2vmin;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1494&q=80);
}

#nav-bar {
  background-color: rgb(220, 204, 187, .85); 
  padding: .5vmin;
}

nav {
  display: flex;
  justify-content:flex-end;
}

nav > a, nav > #username{
  text-decoration: none;
  margin: 1vmin;
  color: black;
}

nav > a:hover:not(.active) {
  background-color: #A7754D;
}

#page-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

#welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 204, 187, .85);
  font: 36px "Lucida Grande", Helvetica, Arial, sans-serif; 
  padding: 2vmin;
}

#food-pic {
  width: 15vmin;
  height: inherit;
}

#show-page-pic {
  position: center;
  width: 50vmin;
  height: auto;
}

